/* header.css */
nav {
  padding: 0; /* Reset padding */
  width: 100%;
  position: sticky;
  background-color: aliceblue;
  margin: 0; /* Reset margin */
}

.brand-logo {
  margin-left: .5rem;
  font-size: 30px;
  font-weight: 400;
  color: rgb(179, 69, 212);
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}

.login {
  margin: 5px; /* Adjusted margin */
  padding: 10px;
  background-color: transparent;
  border: 2px solid rgb(179, 69, 212);
  border-radius: 30px;
  font-size: 20px;
  color: rgb(179, 69, 212);
  font-weight: 500;
}

.login:hover {
  color: white;
  background-color: rgb(179, 69, 212);
  transition: ease 0.5s;
}

.start {
  margin: 5px; /* Adjusted margin */
  padding: 10px;
  background-color: rgb(179, 69, 212);
  border: none;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  font-weight: 500;
}
